
$body-color:  #4b4f56;
$font-family-base: Graphik LCG Web, Graphik Arabic Web Regular, -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, Lucida Grande, Sans-Serif;

//Nav Bar
$navBar-bg-top: rgb(51, 51, 51);
$navBar-bg-button: rgb(77, 77, 77) 60%;
$navBar-height: 70px;
$navBar-text-color: white;

//Logo NavBar
$logo-inverted-color: true;
$logo-img-big-size: 185px;
$logo-img-small-size: 48px;
//Logo NarBar Container
$logo-container-big-size: 240px;
$logo-container-small-size: 70px;
$logo-container-big-padding: 20px;
$logo-container-small-padding: 11px;
//Title Container
$title-margin-sides: 10px;

//Side Bar
$sidebar-width-big: 240px;
$sidebar-width-small: 40px;
$sidebar-bg: rgb(202, 202, 202);
$sidebar-bg-hover: darkgrey;