@import "../global-styles/variables";

.page-container{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.container-body{
  display: flex;
  position: absolute;
  top: $navBar-height;
  left: 0;
  height: 100%;
  width: 100%;
}
